*,
*:after,
*:before {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin: 0 auto;
    padding: 1rem;
    background: #eee;
    text-transform: uppercase;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

.tournament-tree {
    display: grid;
    width: 1216px;
    margin: auto;
    grid-gap: 16px;
    grid-template-rows: 80px;
    grid-template-columns: 160px;
    grid-template-areas:
        'slot--18-1 . . . . . slot--18-5'
        '. slot--14-1 . . . slot--14-3 .'
        'slot--18-2 . . . . . slot--18-6'
        '. . slot--12-1 slot--11-1 slot--12-2 . .'
        'slot--18-3 . . . . . slot--18-7'
        '. slot--14-2 . . . slot--14-4 .'
        'slot--18-4 . . . . . slot--18-8';
}

.slot--18-1 { grid-area: slot--18-1; }
.slot--18-2 { grid-area: slot--18-2; }
.slot--18-3 { grid-area: slot--18-3; }
.slot--18-4 { grid-area: slot--18-4; }
.slot--18-5 { grid-area: slot--18-5; }
.slot--18-6 { grid-area: slot--18-6; }
.slot--18-7 { grid-area: slot--18-7; }
.slot--18-8 { grid-area: slot--18-8; }

.slot--14-1 { grid-area: slot--14-1; }
.slot--14-2 { grid-area: slot--14-2; }
.slot--14-3 { grid-area: slot--14-3; }
.slot--14-4 { grid-area: slot--14-4; }

.slot--12-1 { grid-area: slot--12-1; }
.slot--12-2 { grid-area: slot--12-2; }

.slot--11-1 { grid-area: slot--11-1; }

.slot {
    border: 1px solid #263e6d;
    background: #fff;
    position: relative;
    height: 80px;
    width: 160px;
}

.slot:after,
.slot:before {
    content: '';
    background: black;
    position: absolute;
    top: 50%;
}

/** right side **/
.slot--left:after,
.slot--11-1:after,
[class*="slot--14-"].slot--right:before {
    width: 8px;
    height: 2px;
    right: 0;
    transform: translate(100%, -50%);
}

/** left side **/
.slot--right:after,
.slot--11-1:before,
[class*="slot--14-"].slot--left:before {
    width: 8px;
    height: 2px;
    left: 0;
    transform: translate(-100%, -50%);
}

[class*="slot--12-"].slot--left:after {
    left: 0;
    transform: translate(-100%, -50%);
}

[class*="slot--12-"].slot--left:before,
[class*="slot--12-"].slot--right:before {
    width: 2px;
    height: 386px;
}

.slot--12-1:before {
    left: 0;
    transform: translate(-10px, -50%);
}

[class*="slot--12-"].slot--right:after {
    left: auto;
    right: 0;
    transform: translate(100%, -50%);
}

[class*="slot--12-"].slot--right:before {
    right: 0;
    left: auto;
    transform: translate(10px, -50%);
}

[class*="slot--18-"].slot--top:before {
    width: 2px;
    height: 194px;
}

[class*="slot--18-"].slot--top.slot--left:before {
    right: 0;
    transform: translate(10px, -1px);
}

[class*="slot--18-"].slot--top.slot--right:before {
    left: 0;
    transform: translate(-10px, -1px);
}

.slot--11-1:after,
.slot--11-1:before {
    width: 18px;
}

.team {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-weight: 700;
    background: #ddd;
}

.team--home {
    border-bottom: 2px solid black;
    color: black;
}

.team--away {
    color: #263e6d;
    height: 38px;
}

.team--winner {
    background: #fff;
}

.team__name,
.team__score {
    padding: 8px;
    display: flex;
    align-items: center;
}

.team__score {
    background: #263e6d;
    color: #d0d3db;
    flex: 0 0 30px;
    justify-content: center;
}
